
.input-form__item_type_error {
	border: 1px solid #c23580;
	box-shadow: 2px 2px 5px #9c4d77;
	margin-bottom: 0;
}

.input-form__item_type_error:focus {
	border: 1px solid #c23580;
	box-shadow: 2px 2px 5px #9c4d77;
}
