
.input-block__item {
	font-size: 16px;
	font-weight: 800;
	line-height: 20px;

	border: 1px solid #777;
	border-radius: 2px;	

	box-sizing: inherit;
	width: 100%;
	padding: 4px;
	margin: 0;
	margin-bottom: 25px;
}

.input-block__item:focus {
	outline: none;
	border: 1px solid #333;
	box-shadow: 2px 2px 5px #333;
}